:root {
    --header-height: 7.2rem;
    /* colors */
    --hue: 54;
    /* HSL color mode */
    --base-color: hsl(var(--hue) 36% 57%);
    --base-color-second: hsl(var(--hue) 65% 88%);
    --base-color-alt: hsl(var(--hue) 57% 53%);
    --title-color: hsl(var(--hue) 41% 10%);
    --text-color: hsl(0 0% 46%);
    --text-color-light: hsl(0 0% 98%);
    --body-color: hsl(0 0% 98%);
    /* 
    font-family: 'DM Sans', sans-serif;
    font-family: 'Poppins', sans-serif; 
    */
    font-size: 62.5%;
}

/* --------------------------    RESET    -------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

/* --------------------------    BASE    -------------------------- */
html {
    scroll-behavior: smooth;
}

body {
    font: 400 1.6rem "DM Sans", sans-serif;
    background: var(--body-color);
    color: var(--text-color);
    -webkit-font-smoothing: antialiased;
}

.title {
    font: 700 3rem 'Poppins', sans-serif;
    color: var(--title-color);
    -webkit-font-smoothing: auto;
}

/* --------------------------    LAYOUT    -------------------------- */
#header {
    border-bottom: 1px solid #E4E4E4;
    display: flex;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: var(--body-color);
}

#header.scroll {
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
}

.logo {
    font: 700 2.1rem 'Poppins', sans-serif;
    color: var(--title-color);
}

.logo span {
    color: var(--base-color);
} 

main {
    margin-top: calc(var(--header-height) + 3.2rem);
}

.section {
    padding: 8rem 0;
}

.section .title {
    margin-bottom: 1.6rem;
}

.section header {
    margin-bottom: 6.4rem;
}

.section header strong {
    color: var(--base-color);
}

.container {
    margin: 0 2.4rem;
}

.grid {
    display: grid;
    gap: 3.2rem;
}

.button {
    padding: 1.8rem 3.2rem;
    background-color: var(--base-color);
    border-radius: .8rem;
    color: var(--text-color-light);
    display: inline-block;
    font: 500 1.6rem "DM Sans", sans-serif;
    transition: filter 400ms;
}

.button:hover {
    filter: brightness(1.2);
}

.divider-1 {
    background: linear-gradient(270deg, hsla(var(--hue), 36%, 57%, 1),
    hsla(var(--hue), 65%, 88%, 0.34));
    height: 0.1rem;
}

.divider-2 {
    background: linear-gradient(270deg, hsla(var(--hue), 65%, 88%, 0.34), 
    hsla(var(--hue), 36%, 57%, 1)
    );
    height: 0.1rem;
}

ul {
    list-style: none;
}

/* --------------------------    NAV BAR    -------------------------- */
nav {
    height: var(--header-height);
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:  100%;
}

nav .menu {
    opacity: 0;
    visibility: hidden;
    top: -20rem;
    transition: 200ms;
}

nav .menu ul {
    display: none;
}

nav ul li a {
    transition: color 400ms;
    position: relative;
}

nav ul li a:hover {
    color: var(--base-color);
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 0.2rem;
    background-color: var(--base-color);
    position: absolute;
    left: 0;
    bottom: -2.4rem;
    transition: width 400ms;
}

nav ul li a:hover::after {
    width: 100%;
}

nav.show .menu {
    opacity: 1;
    visibility: visible;
    background-color: var(--body-color);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: grid;  /* NAV MENU IN CENTER */
    place-content: center;
}

nav.show .menu ul {
    gap: 4rem;
    display: grid;
}

nav.show .menu ul li {
    text-align: center;
}


/* --------------------------    TOGGLE MENU    -------------------------- */
.toggle {
    color: var(--base-color);
    font-size: 2.4rem;
    cursor: pointer;
}

nav .icon-close {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: -1.5rem;
    right: 2rem;
}

nav.show .icon-close {
    opacity: 1;
    visibility: visible;
    top: 2rem;
    transition: 400ms;
}


/* --------------------------    HOME    -------------------------- */
#home {
    overflow: hidden;
}

#home .container {
    margin: 0;
}

#home .image {
    position: relative;
}

#home .image img {
    position: relative;
    right: 4.7rem;
}

#home .image::before {
    content: '';
    background-color: var(--base-color-second);
    width: 100%;
    height: 100%;
    position: absolute;
    top: -16.8%;
    left: 16.7%;
    z-index: 0;
}

#home .image img, #home .image::before {
    border-radius: 0.8rem;
}

#home .text {
    margin: 0 2.4rem;
    text-align: center;
}

#home .text h1 .title {
    margin-bottom: 1.6rem;
}

#home .text p {
    margin-bottom: 3.2rem;
    max-width: 100%;
}

/* --------------------------    ABOUT    -------------------------- */
#about {
    overflow: hidden;
    background-color: #fff;
}

#about .container {
    margin: 0;
}

#about .image {
    position: relative;
    margin-top: 2.1rem;
}

#about .image img {
    position: relative;
}

#about .image::before {
    border-radius: 0.8rem;
    content: '';
    background-color: var(--base-color-second);
    width: 100%;
    height: 100%;
    position: absolute;
    top: -8%;
    right: 33%;
    z-index: 0;
}

#about .text {
    margin: 0 2.4rem;
}


/* --------------------------    SERVICES    -------------------------- */
.cards.grid {
    gap: 2.4rem;
}

.cards .card {
    text-align: center;
    padding: 5.8rem 3.2rem;
    border-radius: .8rem .8rem 0 0;
    border-bottom: .4rem solid var(--base-color);
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
    background-color: #fff;
}

.cards .card i {
    display: block;
    margin-bottom: 2.4rem;
    font-size: 8rem;
    color: var(--base-color);
}

.cards .card .title {
    font-size: 2.4rem;
    margin-bottom: 1.2rem;
}

