:root {
    --header-height: 7.2rem;
    /* colors */
    --hue: 54;
    /* HSL color mode */
    --base-color: hsl(var(--hue) 36% 57%);
    --base-color-second: hsl(var(--hue) 65% 88%);
    --base-color-alt: hsl(var(--hue) 57% 53%);
    --title-color: hsl(var(--hue) 41% 10%);
    --text-color: hsl(0 0% 46%);
    --text-color-light: hsl(0 0% 98%);
    --body-color: hsl(0 0% 98%);
    --dm-sans: 'DM Sans', sans-serif;
    --poppins: 'Poppins', sans-serif; 
    /* SIZES */
    --title-font-size: 3rem;
    --paragraph-font-size: 1.6rem;
    font-size: 62.5%;
}

/* --------------------------    RESET    -------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

/* --------------------------    BASE    -------------------------- */
html {
    scroll-behavior: smooth;
}

body {
    font: 400 var(--paragraph-font-size) "DM Sans", sans-serif;
    background: var(--body-color);
    color: var(--text-color);
    -webkit-font-smoothing: antialiased;
}

.title {
    font: 700 var(--title-font-size) 'Poppins', sans-serif;
    color: var(--title-color);
    -webkit-font-smoothing: auto;
}

/* --------------------------    LAYOUT    -------------------------- */
#header {
    border-bottom: 1px solid #E4E4E4;
    display: flex;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: var(--body-color);
}

#header.scroll {
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
}

.logo {
    font: 700 2.1rem 'Poppins', sans-serif;
    color: var(--title-color);
}

.logo span {
    color: var(--base-color);
} 

.logo-alt span {
    color: var(--body-color);
}

.section {
    padding: calc(8rem + var(--header-height)) 0;
}

.section .title {
    margin-bottom: 1.6rem;
}

.section header {
    margin-bottom: 6.4rem;
}

.section header strong {
    color: var(--base-color);
}

.container {
    margin: 0 2.4rem;
}

.grid {
    display: grid;
    gap: 3.2rem;
}

.button {
    padding: 1.8rem 3.2rem;
    background-color: var(--base-color);
    border-radius: .8rem;
    color: var(--text-color-light);
    display: inline-block;
    font: 500 1.6rem "DM Sans", sans-serif;
    transition: filter 400ms;
}

.button:hover {
    filter: brightness(1.2);
}

.divider-1 {
    background: linear-gradient(270deg, hsla(var(--hue), 36%, 57%, 1),
    hsla(var(--hue), 65%, 88%, 0.34));
    height: 0.1rem;
}

.divider-2 {
    background: linear-gradient(270deg, hsla(var(--hue), 65%, 88%, 0.34), 
    hsla(var(--hue), 36%, 57%, 1)
    );
    height: 0.1rem;
}

ul {
    list-style: none;
}

/* --------------------------    NAV BAR    -------------------------- */
nav {
    height: var(--header-height);
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:  100%;
}

nav .menu {
    opacity: 0;
    visibility: hidden;
    top: -20rem;
    transition: 200ms;
}

nav .menu ul {
    display: none;
}

nav ul li a {
    transition: color 400ms;
    position: relative;
}

nav ul li a:hover, nav .menu ul li a.active {
    font-weight: bold;
    -webkit-font-smoothing: auto;
    color: var(--base-color);
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 0.2rem;
    background-color: var(--base-color);
    position: absolute;
    left: 0;
    bottom: -2.4rem;
    transition: width 400ms;
}

nav ul li a:hover::after, nav ul li a.active::after {
    width: 100%;
}

nav.show .menu {
    opacity: 1;
    visibility: visible;
    background-color: var(--body-color);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: grid;  /* NAV MENU IN CENTER */
    place-content: center;
}

nav.show .menu ul {
    gap: 4rem;
    display: grid;
}

nav.show .menu ul li {
    text-align: center;
}


/* --------------------------    TOGGLE MENU    -------------------------- */
.toggle {
    color: var(--base-color);
    font-size: 2.4rem;
    cursor: pointer;
}

nav .icon-close {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: -1.5rem;
    right: 2rem;
}

nav.show .icon-close {
    opacity: 1;
    visibility: visible;
    top: 2rem;
    transition: 400ms;
}


/* --------------------------    HOME    -------------------------- */
#home {
    overflow: hidden;
}

#home .container {
    margin: 0;
}

#home .image {
    position: relative;
}

#home .image img {
    position: relative;
    right: 4.7rem;
}

#home .image::before {
    content: '';
    background-color: var(--base-color-second);
    width: 100%;
    height: 100%;
    position: absolute;
    top: -16.8%;
    left: 16.7%;
    z-index: 0;
}

#home .image img, #home .image::before {
    border-radius: 0.8rem;
}

#home .text {
    margin: 0 2.4rem;
    text-align: center;
}

#home .text h1 .title {
    margin-bottom: 1.6rem;
}

#home .text p {
    margin-bottom: 3.2rem;
    max-width: 100%;
}

/* --------------------------    ABOUT    -------------------------- */
#about {
    overflow: hidden;
    background-color: #fff;
}

#about .container {
    margin: 0;
}

#about .image {
    position: relative;
    margin-top: 2.1rem;
}

#about .image img {
    position: relative;
}

#about .image::before {
    border-radius: 0.8rem;
    content: '';
    background-color: var(--base-color-second);
    width: 100%;
    height: 100%;
    position: absolute;
    top: -8%;
    right: 33%;
    z-index: 0;
}

#about .text {
    margin: 0 2.4rem;
}


/* --------------------------    SERVICES    -------------------------- */
#services header p {
    color: var(--title-color);
}

.cards.grid {
    gap: 2.4rem;
}

.cards .card {
    text-align: center;
    padding: 5.8rem 3.2rem;
    border-radius: .8rem .8rem 0 0;
    border-bottom: .4rem solid var(--base-color);
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
}

.cards .card i {
    display: block;
    margin-bottom: 2.4rem;
    font-size: 8rem;
    color: var(--base-color);
}

.cards .card .title {
    font-size: 2.4rem;
    margin-bottom: 1.2rem;
}


/* --------------------------    TESTIMONIALS    -------------------------- */
#testimonials {
    background: #fff;
}

#testimonials .container {
    margin-left: 0;
    margin-right: 0;
}

#testimonials header {
    margin: auto 1.5rem 0;
}

#testimonials blockquote {
    padding: 3.2rem;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
    border-radius: .8rem;
}

#testimonials blockquote p {
    text-indent: 3rem;
    position: relative;
    margin-bottom: 2.4rem;
    color: var(--title-color);
}

#testimonials blockquote p span {
    font: 700 4rem serif;
    color: var(--base-color);
    position: absolute;
    top: -.6rem;
    left: -3rem;
}

#testimonials blockquote cite {
    display: flex;
    align-items: center;
    font-style: normal;
}

#testimonials blockquote cite img {
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    clip-path: circle();
    margin-right: .8rem;

}


/* --------------------------    CONTACT    -------------------------- */
#contact .grid {
    gap: 6.4rem;
}

#contact .text p {
    margin-bottom: 3.2rem;
}

#contact .button {
    display: inline-flex;
    align-items: center;
    width: auto;
}

#contact .button i, #contact ul li i {
    font-size: 2.4rem;
    margin-right: 1rem;
}

#contact ul.grid {
    gap: 3.2rem;
}

#contact ul li {
    display: flex;
    align-items: center;
}

#contact ul li i {
    color: var(--base-color);
}


/* --------------------------    FOOTER    -------------------------- */
footer {
    background-color: var(--base-color);
}

footer.section {
    padding: 6.4rem 0;
}

footer .logo {
    display: inline-block;
    margin-bottom: 2.4rem;
}

footer .brand {
    color: var(--text-color-light);
}

footer .brand p + p {
    margin-top: 1.2rem;
}

footer .social {
    grid-auto-flow: column;
    width: fit-content;
    /* grid-template-columns: repeat(3, 1fr); */
}

footer .social a {
    display: inline-block;
    transition: .4s;
}

footer .social a:hover {
    transform: translateY(-.8rem);
}

footer i {
    font-size: 2.4rem;
    color: var(--text-color-light);
}

.back-to-top {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    padding: 0.5rem;
    clip-path: circle();
    color: var(--text-color-light);
    background-color: var(--base-color);
    line-height: 0;
    font-size: 2.4rem;
    visibility: hidden;
    opacity: 0;
    transform: translateY(100%);
    transition: 400ms;
}

.back-to-top.show {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}


/* --------------------------    SWIPER    -------------------------- */
.swiper-slide {
    height: auto;
    padding: 6.4rem 1.6rem;
}

.swiper-pagination-bullet {
    width: 1.2rem;
    height: 1.2rem;
}

.swiper-pagination-bullet-active {
    background-color: var(--base-color);
}


/* --------------------------    RESPONSIVE    -------------------------- */
@media (min-width: 1200px) {
    #about .image {
        width: initial;
    }
    #about .image img {
        width: initial;
        left: -15rem;
    }

    #about .text {
        margin-left: -8.6rem;
    }
}

@media(min-width: 992px) {
    :root {
        --title-font-size: 3.6rem;
        --paragraph-font-size: 1.8rem;
    }

    .cards p {
        font-size: 1.6rem;
    }

    main {
        margin-top: var(--header-height);
    }

    .section {
        padding: 16rem 0;
    }

    .section header, #testimonials header {
        max-width: 51.2rem;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .button {
        padding: 1.4rem 3.2rem;
    }


    /* --------------------------    HEADER    -------------------------- */
    #header {
        justify-content: center;
    }

    .container {
        width: min(80%, 112rem);
        margin-left: auto;
        margin-right: auto;
    }

    nav .icon-menu {
        display: none;
    }

    nav .menu {
        opacity: 1;
        visibility: visible;
        top: 0;
    }

    nav .menu ul {
        display: flex;
        gap: 2rem;
    }

    nav .menu ul li a.title {
        font: 400 1.6rem var(--poppins);
        -webkit-font-smoothing: antialiased;
    }

    nav .menu ul li a.active {
        font-weight: bold;
        -webkit-font-smoothing: auto;
    }


    /* --------------------------    HOME    -------------------------- */
    #home .image {
        order: 1;
    }

    #home .container {
        grid-auto-flow: column;
        justify-content: space-between;
        margin: 0 auto;
    }

    #home .text {
        order: 0;
        max-width: 40rem;
        text-align: left;
    }


    /* --------------------------    ABOUT    -------------------------- */
    #about .container {
        margin: 0 auto;
        grid-auto-flow: column;
    }


    /* --------------------------    TESTIMONIALS     -------------------------- */
    #testimonials .container {
        margin: 0 auto;
    }

    .cards {
        grid-template-columns: repeat(3, 1fr);
        /* grid-auto-flow: column; */
    }

    .card {
        padding-left: 4.8rem;
        padding-right: 4.8rem;
    }


    /* --------------------------    CONTACT     -------------------------- */
    #contact .container {
        margin: 0 auto;
        grid-auto-flow: column;
        align-items: center;
    }

    #contact .container .text {
        max-width: 40rem;
    }


    /* --------------------------    FOOTER     -------------------------- */
    footer.section {
        padding: 6rem 0;
    }

    footer .container {
        margin: 0 auto;
        grid-auto-flow: column;
        align-items: center;
        justify-content: space-between;
    }

    footer .logo {
        font-size: 3.6rem;
    }
}
